$primary: #0C7CEC;
$primary-rgb: 12, 124, 236;
$secondary: #1C1C1C;
$secondary-rgb: 28, 28, 28;

$bs-btn-color: #0C7CEC;
$bs-btn-border-color: #0C7CEC;
$bs-btn-hover-bg: #0C7CEC;
$bs-btn-hover-border-color: #0C7CEC;
$bs-btn-focus-shadow-rgb: 12, 124, 236;
$bs-btn-active-bg: #0C7CEC;
$bs-btn-active-border-color: #0C7CEC;
$bs-btn-disabled-color: #0C7CEC;